.debug {
    * {
        border: 2px dashed;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    min-width: 1200px;
}

:root {
    --color-header: #ff6900;
    --color-texheader: #fff7f3;
    --color-main: #ffffff;
    --color-texmini: #2b3235;
    --color-tiletex: #020203;
    --color-texred: #ff3d55;
    --color-texfooter: #fdfbea;
    --color-footer: #1a1a1a;
}

.d-flex {
    display: flex;
}

header {

    background-color: var(--color-header);
}

.homesearch {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.option {
    color: var(--color-main);
}

.logo {
    width: 10%;
}

.icons {
    color: var(--color-main);
}

/* fine header*/

main {
    width: 80%;
    margin: 0 auto;
}


.card {
    padding-right: 10px;
    padding-top: 15px;
    width: 30%;
}

.discount-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.sustainability-badge {
  position: absolute;
  bottom: 10px;
  left: 65px; 
  background-color: green;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}



#title-prodoct {
    font-size: 10px;

}

#prezzo p {
    color: var(--color-texred);
}

.card img {
    width: 100%;
}

.prezzo {
    color: var(--color-texred);
}

.cardguess {
    padding-right: 10px;
    padding-top: 15px;
    width: 30%;
}

#title-prodoct {
    font-size: 10px;

}

#prezzo p {
    color: var(--color-texred);
}

.card img {
    width: 100%;
}


.prezzo {
    color: var(--color-texred);
}

.img {
    position: relative;
}

.top {
    display: none;
    position: absolute;
}

.img:hover .top {
    display: block;
}
